.table table
{ 
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.table th, .table td {
    font-family: 'Nunito', sans-serif;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

div.centered 
{
    text-align: center;
    overflow-x: auto;
    overflow-y: scroll;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: center;
}

h1 {
    text-align: center;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-size: 54px; 
    font-weight: 300; 
    line-height: 58px; 
    margin: 30px; 
}

h2 {
    text-align: center;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-size: 30px; 
    font-weight: 300; 
}

input[type="file"] {
    display: none;
    color: #636b6f;
}

button{
    font-family: 'Nunito', sans-serif;
    color: #636b6f;
    border: 1px solid #636b6f;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
}

div.formKlasifikasi {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

div.value {
    text-align: center;
    display: none;
}

div.value p{
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    background-color: #4BB543;
    text-align: center;
    padding: 5px 10px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    font-weight: 100;
}

div.tabelInput {
    overflow-x: auto;
    overflow-y: scroll;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

div.formKlasifikasi table {
    margin: 0 auto; 
    text-align: center;
}

.form table
{ 
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.form th, .form td {
    font-family: 'Nunito', sans-serif;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

input[type=text], select {
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
  }